.navbar {
    background-color: #ffdb3800;
    z-index: 100;
}

.primary-color {
    color: #423022;
}

.secondary-color {
    background-color: #ffdb38;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

#logo {
    width: 40px;
}

.icon {
    width: 30px;
}

figure {
    margin-top: -70px;
    z-index: 0;
}